body,html
    line-height: 1
    font-weight: 200
    font-family: 'PingFang SC',arial,sans-serif
.clearfix 
    display inline-block
    &:after
        dispaly: block
        content: " "
        height: 0
        line-height: 0
        vertical-align: center
        clear: both

@media (-webkit-min-device-pixel-ratio:1.5),(min-device-pixel-ratio: 1.5)
    .border-1px
        &::after
            -webkit-transform: scaleY(0.7)
            transform: scaleY(0.7);
@media (-webkit-min-device-pixel-ratio:2),(min-device-pixel-ratio: 2)
    .border-1px
        &::after
            -webkit-transform: scaleY(0.5)
            transform: scaleY(0.5);
@media (-webkit-min-device-pixel-ratio: 3),(min-device-pixel-ratio: 3)
    .border-1
        &::after
            -webkit-transform: scaleY(0.3)
            transform: scaleY(0.3)